/* import all files */
/* @import "./helpers.css"; */

* {
    box-sizing: border-box;
    list-style: none;

}

body {
    text-align: center;
    background-color: cornsilk;
}

/* .mail-list {
    color: ;
} */

