/* import all files */
@import url(/css/parts/helpers.css);
@import url(/css/parts/fonts.css);
@import url(/css/parts/base.css);
@import url(/css/parts/helpers.css);
@import url(/css/cmps/app-home.css);
@import url(/css/cmps/user-msg.css);
@import url(/css/apps/email/mail-preview.css);
@import url(/css/apps/keep/note-preview.css);








* {
    box-sizing: border-box;
    list-style: none;

}

body {
    text-align: center;
    background-color: cornsilk;
}

/* .mail-list {
    color: ;
} */

