/* import all files */
@import url(parts/helpers.css);
@import url(parts/fonts.css);
@import url(parts/base.css);
@import url(parts/helpers.css);
@import url(cmps/app-home.css);
@import url(cmps/user-msg.css);
@import url(cmps/add-note.css);
@import url(apps/email/mail-preview.css);
@import url(apps/keep/note-preview.css);
@import url(apps/keep/note-list.css);




css\cmps\user-msg.css





* {
    box-sizing: border-box;
    list-style: none;

}

body {
    text-align: center;
    background-color: cornsilk;
}



