

.icon {
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}



.note-list-container{
    /* display: grid;
    margin: 0 auto 2em;
    /* grid-template-columns: repeat(4, 100px) */
    /* grid-auto-flow: dense; */

    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));  */
}




/* BTNS */

.btnColor {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgb(197, 192, 192);
}