.flex-column {
    display: flex;
    flex-direction: column;
}

.New-Message {
    background-color: black;
    color: white;
}

.mail-preview {
    border-bottom: 1px dotted gray;
    background-color: rgba(255, 255, 255, 0.719);
    font-weight: bold;
    text-align: start;
}

.subject-body{
        width: 1000px;
}

.mail-body {
    color: gray;
}

.mail-name {
    width: 130px;
    padding: 10px;
}

.mail-sentAt {
    width: 90px;
    padding: 10px;
}

.new-mail{
    padding: 5px;
}

.new-mail-body{
    height: 300px;
}

.send-btn {
    color: white;
    background: #1a73e8;
    text-align: center;
    padding: 12px 17px;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.4s;
    width: 100px;
    margin-left: 0;
}

.compose-btn {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    background: white;
    padding: 10px  20px;
    font-size: 1.5rem;
    border-radius: 50px;
    border: 0;
    color: #5f6368;
    cursor: pointer;
    margin: 20px;
    transition: all 0.4s;
    height: 30px;
    text-decoration: none;
}

button {
    background-color: white;
    margin-right: 10px;
    margin-left: 20px;
}

.email-menu {
    cursor: not-allowed;
    padding: 10px  30px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-top: 10px;
}